<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/stylescart.css">    
</head>
<body>
    <header>
        <div class="navbar">
            <div class="burger-menu">
                <i class="fas fa-bars bars"></i>
            </div>
            <ul class="navbar-nav nav1">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
            </ul>
               <img class="nav-img" src="/img/mj-logo.png" alt="Logo">
            <ul class="navbar-nav nav2">
                <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Learn</a></li>
            </ul>
            <div class="shop-menu">
                <i class="fa-solid fa-cart-shopping cart"></i>
                <i class="fa-solid fa-user profile"></i>
            </div>
        </div>
    </header>
    <main>
        <h2>Cart</h2>
        <section>
            <div class="product">
                <i class="fa-regular fa-rectangle-xmark"></i>
                <div class="product_box">
                    <div class="product-img">
                        <img src="/img/img.png" alt="Tu Compra">                  
                    </div>
                    <div class="product-descr">
                         <h4>Product Name</h4>
                         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, veniam.</p>
                    </div>    
                </div>          
            </div>
            <div class="detail">
                <div class="price">
                    <h4>Price</h4>
                    <p>U$D XX.xx</p>
                </div>
                <div class="quantity">
                    <h4>Quantity</h4>
                    <div class="quantity-form">
                        <input type="button" value="-" class="minus">
                        <input type="number" id="quantity" min="1" name="quantity" value="1" class="number">
                        <input type="button" value="+" class="plus">                           
                    </div>
                </div>
                <div class="subtotal">
                    <h4>Subtotal</h4>
                    <p>U$D XX.xx</p>
                </div>                     
            </div>
            <div class="discount-coupon">
                <div class="label">
                    <h3>Coupon Code</h3>
                </div>
                <div class="coupon-form">
                    <form action="/" method="get">
                        <input type="text" name="cupon" id="cupon" placeholder="xxxx - xxxx - xxxx">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>      
        </section>
        <div class="line">
            <hr>
        </div>
        <section>
            <div class="offers">
                <div>
                    <h3>Special Offers</h3>
                </div>
                <div class="special-offers">
                    <i class="fa-solid fa-circle-left"></i>
                    <img src="/img/img.png" alt="Tu Compra">
                    <i class="fa-solid fa-circle-right"></i>                    
                </div>
                <div class="add-cart">
                    <button>Add to Cart</button>
                </div>
            </div>
        </section>
        <div class="line">
            <hr>
        </div>        
        <section>            
            <div class="cart-totals">
                <div class="details-amounts">
                    <div class="concepts">
                        <h3>Cart Totals</h3>
                        <h3>Subtotal</h3> 
                        <h3>TOTAL</h3>                        
                    </div>
                    <div class="amounts">
                        <h3>U$D XX.xx</h3>
                        <h3 >U$D XX.xx</h3>
                    </div>
                </div>
                <div class="shipping">
                    <h3>Shipping and tax calculated at checkout</h3>
                </div>
                <div class="checkout">
                    <a href=""><button>Go to check out</button></a><!-- esto es asi?? -->                
                </div>
                <div class="pay">
                    <img src="/img/paypal-checkout.png" alt="Check out whith Paypal" class="paypal">
                    <img src="/img/paypal-credit.png" alt="Check out whith Credit Card" class="credit-card">
                </div>
            </div>
        </section>                                 
    </main>
         <footer>
            <div class="footer-container">
            <div class="footer-columns">
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                        <li><a href="#"> Item 4 </a></li>
                        <li><a href="#"> Item 5 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-img">
                <img src="/img/mj-logo.png" alt="logo MaryJane">
            </div>

            Donec convallis orci lacus, nec varius justo laoreet eu. Proin sem erat, euismod eu neque eu, semper consectetur libero. Morbi vestibulum dapibus laoreet. 
            <div class="social-networks">
                <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
                <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
            </div>

            <p class="copyright"> <i> Copyright 2022 Lorem Ipsum </i>
        </div>
        </footer>
</body>
</html>
