<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header-footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"  rel="stylesheet" />
    <link rel="stylesheet" href="css/cart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MaryJane GrowShop</title>
</head>
<body>
        
	    <div class="container">
            <header>
            <div class="navbar">
                <div class="burger-menu">
                    <i class="fas fa-bars bars"></i>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                </ul>
                    <img class="nav-img" src="img/mj-logo.png" alt="Logo">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Learn</a></li>
                </ul>
                <div class="shop-menu">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-user profile"></i>
                </div>
            </div>
            </header>

            <main>

            </main>
        <footer>
            <div class="footer-container">
            <div class="footer-columns">
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                        <li><a href="#"> Item 4 </a></li>
                        <li><a href="#"> Item 5 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-img">
                <img src="img/mj-logo.png" alt="logo MaryJane">
            </div>

            <p>Donec convallis orci lacus, nec varius justo laoreet eu. Proin sem erat, euismod eu neque eu, semper consectetur libero. Morbi vestibulum dapibus laoreet. </p>
            <div class="social-networks">
                <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
                <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
            </div>

            <p class="copyright"> <i> Copyright 2022 Lorem Ipsum </i></p>
        </div>
        

        

        </footer>

        </div>

</body>
</html>