<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MaryJane GrowShop</title>
</head>
<body>
        
	    <div class="container">
            <header>
            <div class="navbar">
                <div class="burger-menu">
                    <i class="fas fa-bars bars"></i>
                </div>
                <ul class="navbar-nav nav1">
                    <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
                </ul>
                    <img class="nav-img" src="/img/mj-logo.png" alt="Logo">
                <ul class="navbar-nav nav2">
                    <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Learn</a></li>
                </ul>
                <div class="shop-menu">
                    <i class="fa-solid fa-cart-shopping cart"></i>
                    <i class="fa-solid fa-user profile"></i>
                </div>
            </div>
            
            </header>

            <main>
                <!-- Banner - Acá hay que armar varios articles que después van a ir cambiando -->
                <!-- exhibidor de productos -->
                <section class="exhibitor">
                    <div class="back">
                        <i class="fa-regular fa-square-caret-left"></i>
                    </div>
                    <article class="product-exhibitor">
                        <h2 class="name">Quod Enchiridion</h2>
                        
                        <p class="product-descption">Lorem Ipsum</p>   
                        <div class="exhibitor-button">
                            <button type="submit">Boton</button>
                        </div>
                    </article>

                    <div class="next">
                        <i class="fa-regular fa-square-caret-right"></i>
                    </div>

                </section>

                <!-- Paso a Paso como cultivar marihuana-->
                <section class="growing">
                    <h4 class="title-growing">Growing has never been easier!</h4>
                    <div class="grow-articles">
                        <article class="growing-steps">
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 1</h5>
                            <p class="paraf-step">Descripcion primer paso para tu propia cosecha</p>
                        </div>
                    </article>
                    <article class="growing-steps">
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 2</h5>
                            <p class="paraf-step">Descripcion segundo paso para tu propia cosecha</p>
                        </div>
                    </article>
                    <article>
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 3</h5>
                            <p class="paraf-step">Descripcion tercer paso para tu propia cosecha</p>
                        </div>
                    </article>
                    </div>
                </section>

                <!-- venta de articulos para cosechar -->

                <section class="start-now">
                    <h4 class="title-startnow">Start now</h4>
                    <article class="start-boxes">
                        <div class="start-div">
                            <div class="image-workshops"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-workshops">Workshops</h6>
                        </div>
                        <div class="start-div">
                            <div class="image-packages"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-packages">Packages</h6>
                        </div>
                        <div class="start-div">
                            <div class="image-workshops"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-seeds">Seeds and Fertilizers</h6>
                        </div>
                    </article>
                </section>

                <!-- mas populares -->
                <!-- falta armar paquetes de productos para que se vayan mostrando -->

                <section class="most-popular">
                    <h4 class="title-most-popular">Our most popular</h4>
                    <article class="most-popular-box">
                        <div class="back">
                            <i class="fa-regular fa-square-caret-left"></i>
                        </div>
                        <div class="product-conteiner">
                            <div class="product-exhibitor-first">
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                            </div>
                            
                            <div class="product-exhibitor-second">
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                            </div>
                            <div class="product-exhibitor-third">
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                                <div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div>
                            </div>
                            <ul class="slider-controler">
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                            </ul>
                        </div>
    
                        <div class="next">
                            <i class="fa-regular fa-square-caret-right"></i>
                        </div>

                    </article>
                </section>
                
                <!-- listo para consumir -->
                <section class="ready-to-consume">
                    <div class="title-consume-conteiner">
                        <h4 class="title-ready">Not interested in growing?</h4>
                        <p>Check out our product line</p>
                    </div>
                    <div class="divisions">
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Oils">
                                <h5 class="title-genero">Oils</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Gummies">
                                <h5 class="title-genero">Gummies</h5>
                            </div>
                        </div>
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Capsules">
                                <h5 class="title-genero">Capsules</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Topicals">
                                <h5 class="title-genero">Topicals</h5>
                            </div>
                        </div>
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Edibles">
                                <h5 class="title-genero">Edibles</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Pets">
                                <h5 class="title-genero">Pets</h5>
                            </div>
                        </div>
                    </div>
                    <div class="laptok-div">
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Oils">
                            <h5 class="title-genero">Oils</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Gummies">
                            <h5 class="title-genero">Gummies</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Capsules">
                            <h5 class="title-genero">Capsules</h5>
                        </div>
                    </div>
                    <div class="laptok-div">
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Topicals">
                            <h5 class="title-genero">Topicals</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Edibles">
                            <h5 class="title-genero">Edibles</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Pets">
                            <h5 class="title-genero">Pets</h5>
                        </div>
                    </div>

                </section>


                <!---- Subscripción ------>

                <section class="subscription">
                    <div class="container-subscr">    
                        <div class="title-subscription">
                            <h3>Subscribe</h3>
                            <p>Etiam in quam rhoncus, posuere arcu et, feugiat sem. Phasellus scelerisque mi in mattis hendrerit.</p>
                        </div>
                        <form action="#" class="subscribe">
                            <input type="text" placeholder="youremail@gmail.com" class="inp-subscribe">
                            <input type="button" value="Send" class="btn btn-subscribe">
                        </form>
                    </div>
                </section>

            </main>
        <footer>
            <div class="footer-container">
            <div class="footer-columns">
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                        <li><a href="#"> Item 4 </a></li>
                        <li><a href="#"> Item 5 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 1 </a></li>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
                <div class="col-1">
                    <h4>Titulo</h4>
                    <ul>
                        <li><a href="#"> Item 2 </a></li>
                        <li><a href="#"> Item 3 </a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-img">
                <img src="/img/mj-logo.png" alt="logo MaryJane">
            </div>

            <p>Donec convallis orci lacus, nec varius justo laoreet eu. Proin sem erat, euismod eu neque eu, semper consectetur libero. Morbi vestibulum dapibus laoreet. </p>
            <div class="social-networks">
                <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
                <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
                <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
                <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
            </div>

            <p class="copyright"> <i> Copyright 2022 Lorem Ipsum </i></p>
        </div>
        

        

        </footer>

        </div>

</body>
</html>