* { margin:0;
    padding: 0;
    box-sizing: border-box;
}
body main {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
    background: #fff;
}
div.product h4{
    text-align: center;
}

/*Media queries*/

/*Mobile SmartPhones*/



@media (max-width: 480px) {
   
}

/*Tablet*/
@media (min-width: 800px) {


}

@media (min-width: 1024px) {

}


@media (min-width: 1400px) {



}
