<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head.ejs") %>
<body>
    <%-include ("./partials/header.ejs") %>
    <main>
        <h2>Cart</h2>
        <section class="upper-section">
            <div class="top1">
                <div class="product">
                    <i class="fa-regular fa-rectangle-xmark"></i>
                    <div class="product_box">
                        <div class="product-img">
                            <img src="/img/img.png" alt="Tu Compra">                  
                        </div>
                        <div class="product-descr">
                            <h4>Product Name</h4>
                            <p>Lorem ipsum, doloris de cabeciis isit el textin este de miercolis.</p>
                        </div>    
                    </div>          
                </div>
                <div class="detail">
                    <div class="price">
                        <div class="price-t"><h4>Price</h4></div>
                        <div class="price-q"><p>U$D XX.xx</p></div>
                    </div>
                    <div class="quantity">
                        <div class="quantity-t"><h4>Quantity</h4></div>
                        <div class="quantity-form">
                            <input type="button" value="-" class="minus">
                            <input type="number" id="quantity" min="1" name="quantity" value="1" class="number">
                            <input type="button" value="+" class="plus">                           
                        </div>
                    </div>
                    <div class="subtotal">
                        <div class="subtotal-t"><h4>Subtotal</h4></div>
                        <div class="subtotal-q"><p>U$D XX.xx</p></div>
                    </div>                     
                </div>
            </div>
            <div class="discount-coupon">
                <div class="label">
                    <h3>Coupon Code</h3>
                </div>
                <div class="coupon-form">
                    <form action="/" method="get">
                        <input type="text" name="cupon" id="cupon" placeholder="xxxx - xxxx - xxxx">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>      
        </section>
        <div class="line1">
            <hr>
        </div>
        <section class="bottom-section">
            <div class="offers">
                <div>
                    <h3>Special Offers</h3>
                </div>
                <div class="special-offers">
                    <i class="fa-solid fa-circle-left"></i>
                    <img src="/img/img.png" alt="Tu Compra">
                    <i class="fa-solid fa-circle-right"></i>                    
                </div>
                <div class="add-cart">
                    <button>Add to Cart</button>
                </div>
            </div>
            <div class="line2">
                <hr>
            </div>
            <div class="cart-totals">
                <div class="details-amounts">
                    <div class="concepts">
                        <h3>Cart Totals</h3>
                        <h3>Subtotal</h3> 
                        <h3>TOTAL</h3>                        
                    </div>
                    <div class="amounts">
                        <h3>U$D XX.xx</h3>
                        <h3 >U$D XX.xx</h3>
                    </div>
                </div>
                <div class="shipping">
                    <h3>Shipping and tax calculated at checkout</h3>
                </div>
                <div class="checkout">
                    <a href=""><button>Go to check out</button></a><!-- esto es asi?? -->                
                </div>
                <div class="pay">
                    <img src="/img/paypal-checkout.png" alt="Check out whith Paypal" class="paypal">
                    <img src="/img/paypal-credit.png" alt="Check out whith Credit Card" class="credit-card">
                </div>
            </div>
        </section>                                 
    </main>
        <%-include ("./partials/footer.ejs") %>
</body>
</html>
