<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head.ejs") %>


<body>
        
	    <div class="container">
            <%-include ("./partials/header.ejs") %>

            <main>
                <!-- Banner - Acá hay que armar varios articles que después van a ir cambiando -->
                <!-- exhibidor de productos -->
                <section class="exhibitor">
                    <div class="back">
                        <i class="fa-regular fa-square-caret-left"></i>
                    </div>
                    <article class="product-exhibitor">
                        <h2 class="name">Quod Enchiridion</h2>
                        
                        <p class="product-descption">Lorem Ipsum</p>   
                        <div class="exhibitor-button">
                            <button type="submit">Boton</button>
                        </div>
                    </article>

                    <div class="next">
                        <i class="fa-regular fa-square-caret-right"></i>
                    </div>

                </section>
                <!-- Paso a Paso como cultivar marihuana-->
                <section class="growing">
                    <h4 class="title-growing">Growing has never been easier!</h4>
                    <div class="grow-articles">
                        <article class="growing-steps">
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 1</h5>
                            <p class="paraf-step">Descripcion primer paso para tu propia cosecha</p>
                        </div>
                    </article>
                    <article class="growing-steps">
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 2</h5>
                            <p class="paraf-step">Descripcion segundo paso para tu propia cosecha</p>
                        </div>
                    </article>
                    <article>
                        <div class="step-div">
                            <div class="image-step"><img src="/img/img.png" alt="Paso 1"></div>
                            <h5 class="title-step">Step 3</h5>
                            <p class="paraf-step">Descripcion tercer paso para tu propia cosecha</p>
                        </div>
                    </article>
                    </div>
                </section>

                <!-- venta de articulos para cosechar -->

                <section class="start-now">
                    <h4 class="title-startnow">Start now</h4>
                    <article class="start-boxes">
                        <div class="start-div">
                            <div class="image-workshops"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-workshops">Workshops</h6>
                        </div>
                        <div class="start-div">
                            <div class="image-packages"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-packages">Packages</h6>
                        </div>
                        <div class="start-div">
                            <div class="image-workshops"><img src="/img/img.png" alt="Paso 1"></div>
                            <h6 class="title-seeds">Seeds and Fertilizers</h6>
                        </div>
                    </article>
                </section>

                <!-- mas populares -->
                <!-- falta armar paquetes de productos para que se vayan mostrando -->

                <section class="most-popular">
                    <h4 class="title-most-popular">Our most popular</h4>
                    <article class="most-popular-box">
                        <div class="back">
                            <i class="fa-regular fa-square-caret-left"></i>
                        </div>
                        <div class="product-conteiner">
                            <div class="product-exhibitor-first">
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                            </div>
                            
                            <div class="product-exhibitor-second">
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                            </div>
                            <div class="product-exhibitor-third">
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                                <a href="/productdetail.html"><div class="product-div">
                                    <img src="/img/img.png" alt="Producto">
                                    <p class="product-name">Product 1</p>   
                                    <h5 class="product-price"> $10.00</h5>
                                </div></a>
                            </div>

                        </div>
                        <div class="next">
                            <i class="fa-regular fa-square-caret-right"></i>
                        </div>
                    </article>
                            <ul class="slider-controler">
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                                <li><a href="#">&bullet;</a></li>
                            </ul>
                </section>
                
                <!-- listo para consumir -->
                <section class="ready-to-consume">
                    <div class="title-consume-conteiner">
                        <h4 class="title-ready">Not interested in growing?</h4>
                        <p>Check out our product line</p>
                    </div>
                    <div class="divisions">
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Oils">
                                <h5 class="title-genero">Oils</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Gummies">
                                <h5 class="title-genero">Gummies</h5>
                            </div>
                        </div>
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Capsules">
                                <h5 class="title-genero">Capsules</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Topicals">
                                <h5 class="title-genero">Topicals</h5>
                            </div>
                        </div>
                        <div class="mobil-genero">
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Edibles">
                                <h5 class="title-genero">Edibles</h5>
                            </div>
                            <div class="genero-div">
                                <img src="/img/img.png" alt="Pets">
                                <h5 class="title-genero">Pets</h5>
                            </div>
                        </div>
                    </div>
                    <div class="laptok-div">
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Oils">
                            <h5 class="title-genero">Oils</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Gummies">
                            <h5 class="title-genero">Gummies</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Capsules">
                            <h5 class="title-genero">Capsules</h5>
                        </div>
                    </div>
                    <div class="laptok-div">
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Topicals">
                            <h5 class="title-genero">Topicals</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Edibles">
                            <h5 class="title-genero">Edibles</h5>
                        </div>
                        <div class="genero-div">
                            <img src="/img/img.png" alt="Pets">
                            <h5 class="title-genero">Pets</h5>
                        </div>
                    </div>

                </section>


                <!---- Subscripción ------>

                <section class="subscription">
                    <div class="container-subscr">    
                        <div class="title-subscription">
                            <h3>Subscribe</h3>
                            <p>Etiam in quam rhoncus, posuere arcu et, feugiat sem. Phasellus scelerisque mi in mattis hendrerit.</p>
                        </div>
                        <form action="#" class="subscribe">
                            <input type="text" placeholder="youremail@gmail.com" class="inp-subscribe">
                            <input type="button" value="Send" class="btn btn-subscribe">
                        </form>
                    </div>
                </section>

            </main>
        <%-include ("./partials/footer.ejs") %>
        

        </div>

</body>
</html>