<!DOCTYPE html>
<html lang="en">
    <%-include ("./partials/head.ejs") %>
<body>
        
	    <div class="container">
            <%-include ("./partials/header.ejs") %>
            <main>
                
                <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        <a href="/"> <h1><strong>Maryjane</strong> Growshop </h1> </a>
                            <div class="description">
                            	<p>
	                            	Logeate para conseguir todos los beneficios de la página
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="img-login-form"><i class="fa-solid fa-user"></i> </div>
                        	<div class="form-top">
                                
                        		<div class="form-top-left">
                        			<h3>Login</h3>
                            		<p class="parrafo-hide">Ingresa tu email y <br> contraseña:</p>
                        		</div>
                        	</div>
                            <div class="form-bottom">
			                    <form action="#" method="get" class="login-form">
			                    	<div class="form-group">
			                    		<span>Email </span>
			                        	<input type="text" name="username_login" placeholder="Email" class="form-username form-control" id="username_login">
			                        </div>
			                        <div class="form-group">
			                        	<span>Contraseña </span>
			                        	<input type="password" name="password_login" placeholder="Contraseña" class="form-password form-control" id="password_login">
			                        </div>
                                    <div class="password">
                                        <div class="password-remember">
                                            <input type="checkbox"> Recordar contraseña 
                                        </div>
                                        <div class="password-recovery"> 
                                            <a href="#"> Olvidaste la contraseña?</a> 
                                        </div>
                                    </div>
			                        <input type="button" class="btn btnIn" value="Ingresa!">
			                    </form>
                                
		                    </div>
                        </div>
                    </div>
                    <div class="bottom-bottom-form">
                    <h3>No tenés una cuenta? <a href="/register"> Registrate acá</a></h3>
                    
                    </div>
                </div>
            </div>
            
        </div>

            </main>
            <%-include ("./partials/footer.ejs") %> 
    
</body>
</html>