<!DOCTYPE html>
<html lang="en">
<head>
    <%-include ("./partials/head.ejs") %>
</head>
<body>
    <%-include ("./partials/header.ejs") %>


    <main>
        
        <div class="form-products">
            <h2>Agregar Productos</h2>
            <section class="datos-prod">
                <div class="imgs-add">
                    <img src="../img/img.png" alt="">
                    <img src="../img/img.png" alt="">
                    <img src="../img/img.png" alt="">
                    <img src="../img/img.png" alt="">
                </div>
                <input type="file" class="photoupload">
                <form action="#" method="post" class="formProduct">
                    <div class="cuadro-input">
                        <label for="nombreProd">Nombre del producto</label>
                        <input id="nombreProd" name="nombreProd" type="text" placeholder="Semilla Feminizada">
                    </div>
                    <br>
                    <div class="categorias">
                    <div class="cuadro-input">
                    <label for="categoria" class="categoria">Categorias</label>
                    <select name="categoria" id="categorua">
                        <option value="1"> Categoria 1</option>
                        <option value="2"> Categoria 2</option>
                        <option value="3"> Categoria 3</option>
                    </select>
                    </div>
                    </div>
                    <br>
                    <div class="textareaDescription">
                        <div class="cuadro-input">
                            <label for="descripcionProd">Descripcion</label>
                            <textarea id="descripcionProd" name="descripcionProd" placeholder="Descripcion"> Descripcion del producto</textarea>
                        </div>
                    </div>
                </form>
            </section>
            <section class="precio-prod">
                <form action="#" method="post" class="formProduct">
                    <div class="precio">
                        <div class="cuadro-input">
                            <label for="precioProd" class="title-label">Precio</label>
                            <input id="precioProd" name="precioProd" type="text" placeholder="$1.000" value>
                        </div>
                    </div>
                    <br>
                    <div class="coloresProd">
                        
                        <label for="colores" class="title-label">Colores</label>
                        <div class="radiocheck-box">
                        <div class="radio-input">
                            <div class="label-radio"><label for="negro">Negro</label></div>

                            <div class="input-radio"><input type="radio" name="colores" value="negro"> </div>
                        </div>
                        <div class="radio-input">
                            <div class="label-radio"><label for="rojo">Rojo</label> </div>
                            <div class="input-radio"><input type="radio" name="colores" value="rojo"> </div>
                            
                        </div>
                        <div class="radio-input">
                            <div class="label-radio"> <label for="blanco">Blanco</label> </div>
                            <div class="input-radio"><input type="radio" name="colores" value="blanco"> </div>
                        </div>
                        <div class="radio-input">
                            <div class="label-radio"> <label for="azul">Azul</label> </div>
                            <div class="input-radio"><input type="radio" name="colores" value="azul"> </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </form>
            <div class="submit">
            <button type="submit"> Enviar </button>
            </div>
            </section>
        </div>

    </main>

    <%-include ("./partials/footer.ejs") %>
</body>
</html>