<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/LoginRegister.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MaryJane GrowShop</title>
</head>
<body>
	    <div class="container">
            <%-include ("./partials/header.ejs") %>


            <main>
                
                <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                        <a href="/"> <h1><strong>Maryjane</strong> Growshop </h1> </a>
                            <div class="description">
                            	<p>
                                    Registrate para conocer<br> todos los beneficios                            	
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                            <div class="img-login-form"><i class="fa-solid fa-user"></i> </div>
                        	<div class="form-top">
                                
                        		<div class="form-top-left">
                        			<h3>Registro</h3>
                        		</div>
                        	</div>
                            <div class="form-bottom">
			                    <form action="#" method="get" class="login-form">
			                    	<div class="form-group">
			                    		<span>Nombre </span>
			                        	<input type="text" name="name" placeholder="Nombre" class="form-name form-control" id="name_login">
			                        </div>
			                        <div class="form-group">
			                        	<span>Apellido </span>
			                        	<input type="text" name="apellido" placeholder="Apellido" class="form-apellido form-control" id="apellido_login">
			                        </div>
                                    <div class="form-group">
			                        	<span>Email </span>
			                        	<input type="email" name="email" placeholder="Email" class="form-email form-control" id="email_login">
			                        </div>
                                    <div class="form-group">
			                        	<span>Contraseña </span>
			                        	<input type="password" name="password" placeholder="Contraseña" class="form-password-reg form-control" id="password_login">
			                        </div>
                                    <div class="form-group">
			                        	<span>Confirmar Contraseña </span>
			                        	<input type="password" name="repassword" placeholder="Confirmar contraseña" class="form-repassword form-control" id="repassword_login">
			                        </div>
			                        <input type="button" class="btn btnIn" value="Ingresa!">
                                    <div class="password form-group">
                                        <div class="password-recovery"> 
                                            <a href="/login.html"> Ya tenés una cuenta?</a> 
                                        </div>
                                    </div>
			                    </form>
                                
		                    </div>
                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
            
        </div>

            </main>




            <%-include ("./partials/footer.ejs") %>


    
</body>
</html>