.product-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

.searchInput {
    background-color: lightgray;
    outline: none;
    color: #000;
    width: 80%;
    border: none;
    height: 40px;
}

.form input {color: black}

.form input[type="text"] {
  padding: 0px 20px;
}

.prod-search {
  display: flex;

}

.product-filter .title {
  justify-self: flex-start;
}

.sort {
    display: flex;
    justify-self: flex-end;
  }

.collection-sort {
    display: flex;
    flex-direction: column;
  }

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
.productosCategory{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prductTitle{
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 30px;
}
.categoryRow{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 30px 0;
}
.product-card {
    padding: 2%;
    display: flex;
    flex-direction: column;
    width: 23%;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid rgba(137, 131, 131, 0.6);
  }


.product-image img {
    max-width: 100%;
  }

.product-info h5 {
  font-size: 20px;
}

.product-info h6 {
  font-size: 16px;
}

.product-info {
    margin-top: auto;
  }

