.product-filter {
    display: flex;
    align-content: center;
    margin-top: 15px;
  }

.searchInput {
    background-color: lightgray;
    outline: none;
    color: #000;
    width: 100%;
    border: none;
    height: 40px;
}

.form input {color: black}

.product-filter form input{
  padding: 0px 20px;
  width: 90%;
  color: rgba(137, 131, 131, 0.6);
  background-color: transparent;
  border: rgba(137, 131, 131, 0.8) 1px solid;
}

.product-filter form {
  width: 95%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px
}

.product-filter form i {
  font-size: 20px;
  margin-left: 10px;
}

.prod-search {
  display: flex;
  width: 30%;
  flex-wrap: nowrap;
}

.prod-search input[type=submit] {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width:30%;
}

.product-filter .title {

  width: 50%;
}

.title h1 {
  text-align: center;
}

.sort {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 20px;
  }

.collection-sort {
    display: flex;
    flex-direction: column;
  }

.collection-sort select{
    font-size: 18px;
  }

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
  }
.productosCategory{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.prductTitle{
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 30px;
}
.productSearch{
font-size: 1.8rem;
margin:30px auto
}

.productSearch span{
text-transform: uppercase;
font-weight: bold;
}
.categoryRow{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.product-card {
    padding: 1% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    margin: 10px 10px;
    border: 1px solid rgba(137, 131, 131, 0.6);
  }
.product-card a {
  text-decoration: none;
  color: rgba(137, 131, 131, 0.6);
}

.product-image img {
    width: 100% ;
  }

.product-info h5 {
  font-size: 22px;
}

.product-info h6 {
  font-size: 20px;
  margin-top: 5px;
}

.product-info {
    margin-top: auto;
  }

  @media (max-width: 450px){
    
    .product-filter {
      flex-direction: column;
      justify-content: space-evenly;
      margin-top: 15px;
    }

    .prod-search {
      width: 90%;
      margin: 0 auto;
    }

    .product-filter .title {
      width: 30%;
      text-align: center;
    }

    .title h1 {
      width: 90%;
      text-align: center;
    }

    .product-filter .sort {
      width: 100%;
      justify-content: space-evenly;
    }
}
