/* ------------ EXHIBIDOR DE PRODUCTOS ----------- */ 


.exhibitor{
    display: flex;
    justify-content: space-between;
    height: 250px;
    border-bottom: solid 1px #737373;
    background: url('/img/banner2.jpg');
    background-size: cover;
    background-position:top;
    padding: 40px;
}


.product-exhibitor {
    height: 100%;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-description {
    font-size: 20px
}

.name{
    font-weight: bold;

}
.exhibitor-button button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid green;
    border-radius: 0.6em;
    color: green;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 20px 0px;
    margin-top: 10px;
}



/* --------------- Paso a Paso como cultivar marihuana  -------------- */

/* --------------- Y Section 2 -> Empeza ahora  -------------- */

.growing{
    background-color: transparent;
    border-bottom: solid 1px #737373;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.title-growing{
    text-align: center;
    margin: 20px 0;
    font-size: 20px;
}
.growing-steps{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.step-div{
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-div-growing {
    margin: auto;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-div-growing .paraf-step {
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
}

.image-step{
    margin-top:5px;
    width: 100%;
}

.image-step img {
    width: 100%;
}
.title-step{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
}
.paraf-step {
    padding: 5px 0;
    font-size: 14px;
    margin-bottom: 15px;
    width: 200%;
}


/* ----------- MOST POPULAR --------------- */

.most-popular{
    background-color: transparent;
    border-bottom: solid 1px #737373;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product-exhibitor-third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.step-div a{
    text-decoration: none;
}

/* -----------------  Slider Most Popular ---------------- */

.slider-controler1 {
	position: relative;
	width:57%;
    height: 40px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
	text-align: justify;
    background-color: rgba(0,0,0,0.3);
	padding: 5px;
	z-index: 100;
    border-radius: 5px;
    margin: 15px auto;
}


.slider-controler1 li {
	margin: 0 0.7rem;
    display: inline-block;
}

.slider-controler1 a {
	display: inline;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	font-size: 1.5rem;
}

/* ------------- Listo para consumir ------------ */

.consume {
    background-color: transparent;
    border-bottom: solid 1px #737373;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* ------- Subscription --------- */ 

.subscription {
    border-top: 2px solid lightgray;
    width: 100%;
    height: 50%;
    padding: 20px 0px;
}

.subscription .container-subscr {
    width: 80%;
    margin: 0 auto
}

.subscription .title-subscription1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-subscription1 p {
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 20px;
}

.title-subscription1 h3 {
    font-size: 40px;
}

.subscription .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px
}

.inp-subscribe {
    outline: none;
    border: 1px solid lightgray;
    height: 30px;
    border-radius: 5px;
    color: lightgray;
    background-color: white;
    width: 30vw;
    padding: 10px;
}

.subscription .subscribe .btn-subscribe {
    margin-top:30px;
    background-color: #3E7AAD;
    outline: none;
    border: none;
    width: 30vw;
    height: 30px;
    border-radius: 5px;
    color:white;
    letter-spacing: 0.2em;
}


/* ----------- MEDIA QUERIES ------------- */

@media (min-width: 375px){

    .growing .grow-articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .growing-steps{
        flex-direction: row;
        justify-content: space-between;
    }

    .popular-steps{
        flex-direction: row;
        justify-content: space-between;
    }

   .consume {
    width: 100%;
    display: flex;
   }

   .consume-articles {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   }

    .consume-steps{
        width: 40%;
    }

    .consume-div img {
        margin-bottom: 0;
    }

    .consume-div .title-genero {
        margin-top: 0;
    }

    .consume-steps p{
        font-size: 20px;
    }

    .consume-div {
        width: 100%;
    }
    .step-div{
        width: 100%;
        padding: 0 5px;
    }
    .start-boxes{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .start-div{
        width: 30%;
        padding: 0 5px;
    }

    .slider-controler1 {
        display: flex;
    }

    .start-div img{
        width: 100%;
        padding: 0 5px;
    }

   

    .product-exhibitor-first{
        display: flex;
    }
    
   
    .laptok-div{
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
    }

}


@media (min-width: 760px){
    .start-div img{
    height: 200px;
    }

    .slider-controler1 {
        width: 30%;
    }

    .popular-steps {
        border: 1px solid lightgray;
        width: 22%;
    }

    .product-exhibitor-third{
        display: flex;
        
        justify-content: space-around;
    }

    .product-div img{
        width:300px;
        height: 200px;
    }

    .image-workshops {
        width: 70%
    }
}

@media (min-width: 760px){
    .consume-steps{
        width: 22%;
    }
}
