
<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
        <img class="footer-img" src="/img/mj-logo.png" width="150" alt="Logo Mary Jane">
        <div class="top-row">
        <h6>About</h6>
        </div>
        <p class="text-justify">Donec convallis orci lacus, nec varius justo laoreet eu. Proin sem erat, euismod eu neque eu, semper consectetur libero. Morbi vestibulum dapibus laoreet. </p>
        <div class="sector-categories">
            <div class="cat-columns">
            <h6>Categories 1</h6>
            <ul class="footer-links">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>
            </div>
            <div class="cat-columns">
            <h6>Categories 2</h6>
            <ul class="footer-links">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
                <li><a href="#">Item 4</a></li>
                <li><a href="#">Item 5</a></li>
                <li><a href="#">Item 6</a></li>
            </ul>
            </div>
            <div class="cat-columns">
                <h6>Categories 3</h6>
                <ul class="footer-links">
                    <li><a href="#">Item 1</a></li>
                    <li><a href="#">Item 2</a></li>
                    <li><a href="#">Item 3</a></li>
                    <li><a href="#">Item 4</a></li>
                    <li><a href="#">Item 5</a></li>
                    <li><a href="#">Item 6</a></li>
                </ul>
                </div>
        </div>
    </div>
      
    </div>
    <div class="container-bottom">
        <div class="row">
        
        <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by 
        <a href="#">MaryJane Productions</a>.
        </p>
    
        <ul class="social-icons">
            <li><a href="#"> <i class="fa-brands fa-facebook facebook"></i> </a></li>
            <li><a href="#"> <i class="fa-brands fa-linkedin linkedin"></i> </a></li>
            <li><a href="#"> <i class="fa-brands fa-instagram instagram"></i> </a></li>
            <li><a href="#"> <i class="fa-brands fa-twitter twitter"></i> </a>   </li>
        </ul>
    </div>
    </div>
</footer>