<footer>
    <div class="footer-container">
    <div class="footer-columns">
        <div class="col-1">
            <h4>Titulo</h4>
            <ul>
                <li><a href="#"> Item 1 </a></li>
                <li><a href="#"> Item 2 </a></li>
                <li><a href="#"> Item 3 </a></li>
                <li><a href="#"> Item 4 </a></li>
                <li><a href="#"> Item 5 </a></li>
            </ul>
        </div>
        <div class="col-1">
            <h4>Titulo</h4>
            <ul>
                <li><a href="#"> Item 1 </a></li>
                <li><a href="#"> Item 2 </a></li>
                <li><a href="#"> Item 3 </a></li>
            </ul>
        </div>
        <div class="col-1">
            <h4>Titulo</h4>
            <ul>
                <li><a href="#"> Item 2 </a></li>
                <li><a href="#"> Item 3 </a></li>
            </ul>
        </div>
    </div>
    <div class="footer-img">
        <img src="/img/mj-logo.png" alt="logo MaryJane">
    </div>

    <p>Donec convallis orci lacus, nec varius justo laoreet eu. Proin sem erat, euismod eu neque eu, semper consectetur libero. Morbi vestibulum dapibus laoreet. </p>
    <div class="social-networks">
        <a href="#"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="#"> <i class="fa-brands fa-linkedin"></i> </a>
        <a href="#"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="#"> <i class="fa-brands fa-twitter"></i> </a>
    </div>

    <p class="copyright"> <i> Copyright 2022 Lorem Ipsum </i></p>
</div>




</footer>