
<header role="banner">
    <img id="logo-main" src="/img/mj-logo.png" width="150" alt="Logo Mary Jane">
    <nav id="navbar-primary" class="navbar-default" role="navigation">
        <div class="container-nav">
        
        <div class="nav">
            <div class="nav-line"></div>
            <div class="burger-menu">
                <i class="fas fa-bars bars"></i>
            </div>
            <div class="navbar">
            <div class="nav-notmobile">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products">Shop - Products</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Learn</a></li>
            </div>
            <div class="shop-menu">
                    <li>            
                        <a href="/products/cart"><i class="fa-solid fa-cart-shopping cart"></i> </a>
                        <a href="/user/login"><i class="fa-solid fa-user profile"></i> </a>
                        
                    </li>
            </div>    
                </ul>
            </div>
        </div>
    </div>
    </nav>
</header>