<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/productForm.css">
    <link rel="stylesheet" href="/css/styleHome.css">
    <link rel="stylesheet" href="/css/LoginRegister.css">
    <!-- <link rel="stylesheet" href="/css/productdetail.css"> -->
    <link rel="stylesheet" href="/css/LoginRegister.css">
    <link rel="stylesheet" href="/css/stylescart.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>MaryJane GrowShop</title>
</head>
