<header>
    <div class="navbar">
        <div class="burger-menu">
            <i class="fas fa-bars bars"></i>
        </div>
        <ul class="navbar-nav nav1">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Shop</a></li>
        </ul>
            <img class="nav-img" src="/img/mj-logo.png" alt="Logo">
        <ul class="navbar-nav nav2">
            <li class="nav-item"><a href="#" class="nav-link">About us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Learn</a></li>
        </ul>
        <div class="shop-menu">
            <a href="../cart"> <i class="fa-solid fa-cart-shopping cart"></i></a>
            <a href="../login"> <i class="fa-solid fa-user profile"></i></a>
        </div>
    </div>            
    </header>